/* BODY */

body {
    background-image: url(./assets/soliders.jpg);
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

/*  */

.stripe {
    background-color: #000001ce;
    border: 0;
}

.advise, h1 {
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-size: 55px auto;
    text-align: center;
    opacity: 100%;
}


.card-tips {
    background-color: #000001ce;
    border: 0;
    width: 500px;
    height: 100px;
    border-radius: 15px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.tips, h3 {
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    text-align: left;
    padding-left: 2%;
    padding-top: 0%;
    opacity: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
    padding-top: 0%;
    padding-bottom: 2%;
}

/* LOADING */

.load {
    position: absolute;
    width: 600px;
    height: 36px;
    left: 50%;
    top: 40%;
    margin-left: -300px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.100), rgba(255, 255, 255, 0));
}

.load div {
    position: absolute;
    padding: 0%;
    width: 20px;
    height: 36px;
    opacity: 0;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    animation: move 2.5s linear infinite;
    -o-animation: move 2.5s linear infinite;
    -moz-animation: move 2.5s linear infinite;
    -webkit-animation:  move 2.5s linear infinite;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: #222219;
}

.load div:nth-child(2) {
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.load div:nth-child(3) {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.load div:nth-child(4) {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.load div:nth-child(5) {
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.load div:nth-child(6) {
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.load div:nth-child(7) {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.card {
    background-color: #0080;
    position: fixed;
    display: flex;
}

/* ANIMAÇÕES */

@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        opacity: 1;
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    65% {
        left: 59%;
        opacity: 1;
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    100% {
        left: 100%;
        opacity: 0;
        transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
    }
}

@-moz-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        opacity: 1;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    65% {
        left: 59%;
        opacity: 1;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        left: 100%;
        opacity: 0;
        transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
    }
}

@-webkit-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        opacity: 1;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    65% {
        left: 59%;
        opacity: 1;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    100% {
        left: 100%;
        opacity: 0;
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
    }
}

@-o-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        opacity: 1;
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    65% {
        left: 59%;
        opacity: 1;
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        left: 100%;
        opacity: 0;
        transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
    }
}